name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set TERM environment variable
      run: export TERM=xterm
      shell: bash
    - name: Install ncurses development libraries
      run: sudo apt-get update && sudo apt-get install -y ncurses-base libncurses-dev
#    - name: configure
#      run: ./configure
    - name: make
      run: make
#    - name: make check
#      run: make check
#    - name: make distcheck
#      run: make distcheck
